.title {
    text-align: center;
    color: #212ea0;
    font-size: 15px;
    font-weight: 600;
    text-transform: uppercase;
    margin: 70px 0 30px;
}

.title h2 {
    font-size: 32px;
    color: #000f38;
    margin-top: 5px;
    text-transform: none;
}

@media (max-width:768px) {
    .title {
        margin:20px 0 30px;
        font-size: 11px;
    }

    .title h2 {
        font-size: 25px;
    }
}

@media (max-width:576px) {
    .title {
        /* margin:20px 0 30px; */
        font-size: 11px;
    }

    .title h2 {
        font-size: 25px;
    }
}